* {
	margin: 0;
	padding: 0;
}

/* Major sections */

body {
	background: #fcfcfc;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}

article {
	height: 100%;
}

footer,
header {
	background: #f5f5f5 url(/nav.png);
	height: 64px;
}

header {
	margin-bottom: 32px;
}

footer {
	margin-top: 32px;
}

.body-width {
	margin: 0 auto;
	width: 900px;
}

.content {
	height: 100%;
	float: right;
	width: 676px;
}

.logo {
	width: 192px;
	height: 160px;
	background: url(/logo.png) transparent no-repeat center;
	position: absolute;
}

.navigation {
	float: left;
	height: 100%;
	width: 192px;
	margin-top: 192px;
}

/* Headings */

h1,
h2 {
	font-weight: normal;
	margin-bottom: 1em;
}

h1 {
	font-size: x-large;
}

h2 {
	font-size: large;
}

.content h1,
.content h2 {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 8px;
}

.content h2 {
	padding-top: 1em;
}

header h1,
.navigation h1 {
	color: #fcfcfc;
}

/* General styles */

kbd {
    font-weight: bold;
}

article p,
article li,
article dt,
article dd {
	line-height: 200%;
}

.title {
	background: #8c4ca9 url(/title.png) bottom repeat-x;
	width: 192px;
	height: 46px;
	text-align: center;
	padding-top: 18px;
	font-size: large;
}

.left { float: left }
.right { float: right }
.clear { clear: both }

/* Navigation elements and links */

a { text-decoration: none }

header a {
	color: #f5f5f5;
	display: inline-block;
}

header ul a,
p a,
.navigation a {
	color: #8c4ca9;
}

header ul a {
	border-right: 1px solid #e0e0e0;
	padding: 18px 18px 0 18px;
	height: 38px;
}

header ul a:hover,
header ul a:focus {
	background: #fcfcfc;
}

p a:hover,
p a:focus,
.navigation a:hover,
.navigation a:focus {
	text-decoration: underline;
}

/* Block elements */

header ul {
	list-style: none;
}

header ul li {
	border-right: 1px solid #fff;
	display: inline-block;
}

.content p,
.content pre,
.content ul,
.content dd,
.content blockquote {
	margin-bottom: 2em;
}

.content ul,
.content dl,
.content blockquote,
.content pre {
	margin-left: 32px;
}

.content ul {
	list-style-position: outside;
}

.content dt {
	font-weight: bold;
}

.navigation ul {
	list-style: none;
	margin-bottom: 1em;
}

/* Code and syntax highlighting */

code {
	font-size: larger;
}

pre .nocode {
	background-color: none;
	color: #000;
}

pre .str { color: #08c }
pre .kwd { color: #008 }
pre .com { color: #888 }
pre .typ { color: #b6d }
pre .lit { color: #08c }
pre .pun { color: #000 }
pre .pln { color: #000 }
pre .dec { color: #08c }

.gist-it-gist {
	margin-bottom: 2em;
}

.gist-it-gist .gist-file {
	border: none !important;
}

.gist-it-gist .gist-file .gist-data {
	background: none !important;
	border: none !important;
	margin: 32px;
}

.gist-it-gist .gist-file .gist-meta {
	background: #f0f0f0 !important;
	border: 1px solid #e0e0e0 !important;
}
