* {
	margin: 0;
	padding: 0;
}

/* Major sections */

body {
	background: #fcfcfc;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}

@media only screen
	and (min-device-width: 320px)
	and (min-device-height: 480px)
	and (max-device-width: 700px)
	and (-webkit-min-device-pixel-ratio: 2)
{
	body {
		font-size: x-large;
	}
}

@media screen
	and (min-device-width: 768px)
{
	body {
		font-size: medium;
	}
}

article {
	height: 100%;
	overflow: hidden;
}

footer,
header {
	background: #f5f5f5 url(/nav.png);
	height: 64px;
}

header {
	margin-bottom: 32px;
}

footer {
	margin-top: 32px;
}

.body-width {
	margin: 0 auto;
	width: 900px;
}

@media only screen
	and (min-device-width: 320px)
	and (min-device-height: 480px)
	and (max-device-width: 700px)
	and (-webkit-min-device-pixel-ratio: 2)
{
	.content {
		height: 100%;
		width: 100%;
	}
}

@media screen
	and (min-device-width: 768px)
{
	.content {
		height: 100%;
		float: right;
		width: 676px;
	}
}

@media only screen
	and (min-device-width: 320px)
	and (min-device-height: 480px)
	and (max-device-width: 700px)
	and (-webkit-min-device-pixel-ratio: 2)
{
	.logo {
		width: 0; /* 192px; */
		height: 160px;
		background: url(/logo.png) transparent no-repeat center;
		display: none;
	}
}

@media screen
	and (min-device-width: 768px)
{
	.logo {
		width: 192px;
		height: 160px;
		background: url(/logo.png) transparent no-repeat center;
		position: absolute;
	}
}

@media only screen
	and (min-device-width: 320px)
	and (min-device-height: 480px)
	and (max-device-width: 700px)
	and (-webkit-min-device-pixel-ratio: 2)
{
	.navigation {
		display: none;
		height: 100%;
		margin-top: 192px;
		overflow: hidden;
		width: 0;
	}
}

@media screen
	and (min-device-width: 768px)
{
	.navigation {
		float: left;
		height: 100%;
		margin-top: 192px;
		width: 192px;
	}
}

/* Headings */

h1,
h2,
h3 {
	font-weight: normal;
	margin-bottom: 1em;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 100%;
	font-weight: bold;
}

.content h1,
.content h2 {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 8px;
}

.content h2 {
	padding-top: 1em;
}

header h1,
.navigation h1 {
	color: #fcfcfc;
}

/* General styles */

kbd {
	font-weight: bold;
}

article p,
article li,
article dt,
article dd {
	line-height: 200%;
}

.title {
	background: #8c4ca9 url(/title.png) bottom repeat-x;
	width: 192px;
	height: 46px;
	text-align: center;
	padding-top: 18px;
	font-size: larger;
}

.left { float: left }
.right { float: right }
.clear { clear: both }

/* Navigation elements and links */

a { text-decoration: none }

header a {
	color: #f5f5f5;
	display: inline-block;
}

header ul a,
p a,
.navigation a {
	color: #8c4ca9;
}

header ul a {
	border-right: 1px solid #e0e0e0;
	padding: 18px 18px 0 18px;
	height: 38px;
}

header ul a:hover,
header ul a:focus {
	background: #fcfcfc;
}

p a:hover,
p a:focus,
.navigation a:hover,
.navigation a:focus {
	text-decoration: underline;
}

/* Block elements */

header ul {
	list-style: none;
}

header ul li {
	border-right: 1px solid #fff;
	display: inline-block;
}

.content p,
.content pre,
.content ul,
.content dd,
.content blockquote,
.content table {
	margin-bottom: 2em;
}

.content ul,
.content dl,
.content blockquote,
.content pre {
	margin-left: 32px;
}

.content ul {
	list-style-position: outside;
}

.content dt {
	font-weight: bold;
}

.navigation ul {
	list-style: none;
	margin-bottom: 1em;
}

/* Tables */

td {
	border: 1px solid #888;
	padding: 1em 2em;
	margin: 0;
	text-align: center;
}

td.open {
	border: none;
}

/* Code and syntax highlighting */

code {
	font-size: larger;
}

p code {
	background-color: #ececec;
	border-radius: 4px;
	padding: 2px 6px;
}

pre .nocode {
	background-color: none;
	color: #000;
}

pre code {
	word-wrap: break-word;
	white-space: wrap;
}

.kitten.keyword { color: #008; font-weight: bold }
.kitten.type    { color: #b6d }
.kitten.literal { color: #08c }
.kitten.comment { color: #888 }
